table {
  width: calc(100% - 8cm); /* Уменьшаем ширину таблицы на 8 см, чтобы оставалось по 4 см с каждой стороны */
  border-collapse: collapse;
  margin: 0 auto; /* Отцентровываем таблицу */
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

thead {
  background-color: #ffdddd;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.sort-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sort-dropdown {
  display: flex;
  align-items: center;
}

.sort-dropdown label {
  margin-right: 8px;
  font-weight: bold;
}

.sort-dropdown select {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.reset-button {
  padding: 6px 12px;
  background-color: #dc3545; /* Красный цвет для кнопки сброса */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #c82333; /* Темный красный при наведении */
}
.search-and-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 250px;
  margin-right: 10px;
}

.sort-controls {
  display: flex;
  align-items: center;
}

.save-button {
  padding: 8px 16px;
  background-color: #28a745; /* Зеленый цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #218838;
}

.delete-button {
  padding: 4px 8px;
  background-color: #dc3545; /* Красный цвет для удаления */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

.delete-button:hover {
  background-color: #c82333;
}

.marked-delete {
  background-color: #ffdddd; /* Светло-красный цвет для отмеченных строк */
}
